<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/img-profile.jpg" alt="Pande Deva" class="img-thumbnail rounded-circle mt-5" width="200px" />
      <h1 class="display-4">Pande Deva</h1>
      <p class="lead">College Student | Web Developer</p>
    </div>
  </div>
</div>
